.wrapper{
    
}
.footer{
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 60px;
    font-weight: 1000;
    text-align: right;
    color: white;
    text-shadow: 2px 2px 2px lightgray;
}